Source/BarcodeScannerFactory/bin/
Source/BarcodeScannerFactory/obj/Debug/BarcodeScannerFactory.csproj.FileListAbsolute.txt
Source/BarcodeScannerFactory/obj/Release/BarcodeScannerFactory.csproj.FileListAbsolute.txt
